.todo-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-title {
    color: orange;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.todo-new {
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}

.todo-new input {
    height: 30px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-new button {
    border: none;
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
}

.todo-new button:hover {
    background-color: orange;
}

.todo-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 1000px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}